<!DOCTYPE html>
<html>
<head>
  <title>Word counter</title>
  <link rel='stylesheet' href='/public/style.css' />

  <meta charset="utf-8">
</head>
<body>

  <h1>Welcome to word counter</h1>
  <h3>Click here to run word counter</h3>
  <div id="wordsList">
    
  </div>
  <% include partials/scripts.ejs %>
</body>
</html>
